

body {
  font-family: 'Neutraface 2 Text';
  font-size: 125%;
  text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
  -moz-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  margin: 0 0 0 0;
}


.headingsFutura {
  font-family: 'Futura PT';
}

#abizarNav {
  position: fixed;
  padding-left: 0.6em;
  padding-top: 0.3em;
  font-size: 1.5em;
  font-weight: 300;
  top: 0;
  opacity: 0.7;
  cursor: pointer;
  z-index: 10;
}

#abizarNav:hover {
  opacity: 1;
}

p {
  font-family: 'Neutraface 2 Text';
  font-weight: 200;
  line-height: 170%;
  margin: 0;
  font-size: 100%;
}

h1 {
  font-size: 1.7em;
  font-weight: 300;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
}

.descrProjectLeft {
  box-sizing: border-box;
  padding-right: 3%;
  padding-left: 20%;
  float: left;
  width: 40%;
  text-align: right;
}

.descrProjectRight {
  box-sizing: border-box;
  float: right;
  width: 60%;
  padding-right: 20%;
}

.descrRowContainer {
  display: flex;
  margin-top: 2%;
}

  /*
  FUTURA PT
  */

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBold.otf') format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBook.otf') format('opentype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBookOblique.otf') format('opentype');
    font-weight: 300;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTDemi.otf') format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTDemiOblique.otf') format('opentype');
    font-weight: 500;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTExtraBold.otf') format('opentype');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTExtraBoldOblique.otf') format('opentype');
    font-weight: 800;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTHeavy.otf') format('opentype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTHeavyOblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTLight.otf') format('opentype');
    font-weight: 200;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTLightOblique.otf') format('opentype');
    font-weight: 200;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTMedium.otf') format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTMediumOblique.otf') format('opentype');
    font-weight: 400;
    font-style: oblique;
  }

/*
    NEUTRAFACE 2 TEXT
*/

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-LightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Book.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-BookItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Demi.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-DemiItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* ROBOTO */

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


/* IOSEVKA */

@font-face {
  font-family: 'Iosevka';
  src: url('fonts/iosevka-extralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}