#abizarCoverPhoto {
    width: 100%;
    display: block;
    margin-top: 5rem;
}

#titleDescrOfMe {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}


.email {
    margin-top: 2rem;
    text-align: right;
}

#emailAbizar {
    color: black;
    text-decoration: none;
}

.resume {
    text-align: right;
}

.homePageUnderline {
    cursor: pointer;
    background-image: linear-gradient(to right, black 100%, white 0);;
    background-position: 0 0.95em;
    background-repeat: repeat-x;
}

.homePageUnderline:hover {
    opacity: 0.5;
}


#myWorkTitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#myWorkDescr1 {
}

#myWorkDescr2 {
    margin-top: 0.5rem;
}

#myWorkDescr3 {
  margin-top: 0.5rem;
}

.homePageEmphasis {
  font-weight: 300;
}

#keepCheckingBack {
  margin-top: 3rem;
  text-align: right;
  margin-bottom: 5rem;
}

#personalMediaIcons {
    margin-top: 0.7rem;
    text-align: right;
    vertical-align: baseline;
}

#linkedInText {
    font-size: 1em;
    font-family: 'Myriad Pro';
    font-weight: bold;
    opacity: 0.5;
    cursor:pointer;
}

#linkedInText:hover {
    opacity: 1;
}

#githubIcon {
    margin-left: 0.3rem;
    height: 1em;
    vertical-align: -0.15em;
    opacity: 0.6;
    cursor:pointer;
}

#githubIcon:hover {
    opacity: 1;
}

#behanceIcon {
    margin-left: 0.3rem;
    height: 1em;
    vertical-align: -0.15em;
    opacity: 0.6;
    cursor:pointer;
}

#behanceIcon:hover {
    opacity: 1;
}



.maxWidthContainer {
  max-width: 1020px;
  margin: auto;
}


@media only screen and (max-width: 1300px) {
  #abizarNav {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    color: black;
  }  
}

@media only screen and (max-width: 1120px) {
  .maxWidthContainer {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #abizarCoverPhoto {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }
}


@media only screen and (max-width: 700px) {
  .maxWidthContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #abizarCoverPhoto {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  .email, .resume, #personalMediaIcons, #keepCheckingBack {
    text-align: left;
  }

  .email {
    margin-top: 3rem;
  }

  #personalMediaIcons {
    margin-bottom: 3rem;
  }

}

