
*::selection {
    background-color: black;
    color: white;
}


#abizarCoverPhoto {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 5%;
}

#titleDescrOfMe {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}

#descrOfMe {
    margin-left: 20%;
    margin-right: 20%;
}

.email {
    margin-top: 2%;
    text-align: right;
    margin-right: 20%;
    margin-left: 20%;
}

#emailAbizar {
    color: black;
    text-decoration: none;
}

.resume {
    text-align: right;
    margin-right: 20%;
    margin-left: 20%;
}

.homePageUnderline {
    cursor: pointer;
    background-image: linear-gradient(to right, black 100%, white 0);;
    background-position: 0 0.95em;
    background-repeat: repeat-x;
}

.homePageUnderline:hover {
    opacity: 0.5;
}


#myWorkTitle {
    margin-top: 1%;
    margin-bottom: 0.8%;
    margin-left: 20%;
    margin-right: 20%;
}

#myWorkDescr1 {
    margin-left: 20%;
    margin-right: 20%;
}

#myWorkDescr2 {
    margin-left: 20%;
    margin-top: 0.4%;
    margin-right: 20%;
}

.homePageEmphasis {
  font-weight: 300;
}

#keepCheckingBack {
    margin-top: 4%;
    text-align: right;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
}

#personalMediaIcons {
    margin-top: 0.3%;
    text-align: right;
    margin-right: 20%;
    vertical-align: baseline;
}

#linkedInText {
    font-size: 1em;
    font-family: 'Myriad Pro';
    font-weight: bold;
    opacity: 0.5;
    cursor:pointer;
}

#linkedInText:hover {
    opacity: 1;
}

#githubIcon {
    margin-left: 0.5%;
    height: 1em;
    vertical-align: -0.15em;
    opacity: 0.6;
    cursor:pointer;
}

#githubIcon:hover {
    opacity: 1;
}

#behanceIcon {
    margin-left: 0.5%;
    height: 1em;
    vertical-align: -0.15em;
    opacity: 0.6;
    cursor:pointer;
}

#behanceIcon:hover {
    opacity: 1;
}


