@import '../Assets/base';

.card {
  .content {
    
    .header {
      font-size: 1.1rem !important;
      font-family: "Roboto" !important;
      font-weight: 500 !important;
    }
    .meta {
      margin-top: 0.3rem;
      font-size: 1rem !important;
      font-family: "Roboto", sans-serif;
      color: rgba(0,0,0,0.4) !important;
    }
    .description {
      margin-top: 0.8rem !important;
      font-size: 80%;
      color: #535a5f !important;
      font-weight: 300 !important;
      font-family: "Roboto" !important;
    }
  }

  

}

.ui.three.cards {
  @include phone {
    margin-right: -0.8em !important;
  }
}





/* 
.greyUnderline {
  padding-right: 0.2em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #F0F0F0), color-stop(0, white));
  background-image: linear-gradient(to right, #F0F0F0 100%, white 0);;
  background-position: 0 0.8em;
  background-repeat: repeat-x;
}
 */

 .outer-flex-home {
  // background: rgba(150, 195, 255,0.8);
 }

 .flex-home {
  max-width: 800px; // if want larger, make 970px
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  z-index: 1;

  @include tablet {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex-direction: column; 
  }
  @include phone {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
 }



#abizarCoverPhoto {
    img {width: 14rem;}
    display: block;
    margin-right: 3rem;
    @include tablet {
      margin-bottom: 2rem;
      margin-right: 0;
    }
}


.descrStudies {
  color: rgba(0,0,0, 0.6);
  font-size: 0.8rem;
  letter-spacing: 0.13rem;
  line-height: 1.5rem;
  font-weight: 500;
}

#descrOfMe {
  color: rgba(0,0,0,0.8);
  .bpContainer {
    margin-top: 1rem;
  }
  margin-bottom: 0.7rem;
}


.homePageLink {
  transition: all .2s ease-in;
  &:hover {
    background-color: #F0F0F0;
  }
}

.homePageLink {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, black), color-stop(0, white));
  background-image: linear-gradient(to right, black 100%, white 0);;
  background-position: 0 20px;
  background-repeat: repeat-x;
}

a {
  text-decoration: none;
}

.bulletPoint {
  margin-top: 1rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

.bpContainer {
  display: flex;
  justify-content: flex-start;
}


.email {
    margin-top: 5rem;
    text-align: right;
}

#emailAbizar {
    color: #535a5f;
    text-decoration: none;
}

.resume {
  margin-top: 0.5rem;
    text-align: right;
}

.homePageUnderline {
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, black), color-stop(0, white));
    background-image: linear-gradient(to right, black 100%, white 0);;
    background-position: 0 20px;
    background-repeat: repeat-x;
}

#titleDescrOfMe > span {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgba(0,0,0,0.9);
  font-family: "Playfair Display", serif !important;
}

#resumeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  border: none;
  outline: none;
  color: white;
  box-shadow: -1px 3px 2px #DBDBDB;
  background: #0155C6;
  height: 2.7rem;
  width: 10rem;
  font-weight: 400;
  font-size: 1rem;

  &:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    background: #1a6bd9;
  }
}

button:focus {
  outline: 1px solid rgba(138,57,255,0.2);
}

#titleDescrOfMe {
  margin-bottom: 0.2rem;
}

.home-section {
  padding-bottom: 5rem;
}

.h-s-g {
  background: rgba(0,0,0,.05);
}

.myWorkTitle {
    margin-bottom: 1.2rem;
    padding-top: 4rem;
    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
}

.myWorkDescr {
  margin-top: 1.5rem;
  font-weight: 200;
  transition: all .4s ease-in;
  cursor: pointer;

  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem 1rem 1rem 1rem;

  .bulletPoint {
    display: none;
  }
  
}
.bulletPoint {
  display: none;
}

.myWorkDescr:hover {
  @for $i from 1 through length($projects-list) {
    &:nth-child(#{$i})  {
        background-color: nth($projects-list, $i);
        opacity: 1;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
      }
  }
}


.homePageEmphasis {
  font-weight: 500;
  color: black;
}

#keepCheckingBack {
  margin-top: 5rem;
  text-align: right;
  margin-bottom: 5rem;
}

#personalMediaIcons {
    margin-top: 0.7rem;
    text-align: right;
    vertical-align: baseline;
}

#linkedInText {
    font-size: 1em;
    font-family: 'Myriad Pro';
    font-weight: bold;
    opacity: 0.5;
    cursor:pointer;
}


#githubIcon {
    margin-left: 0.8rem;
    height: 1em;
    vertical-align: -0.15em;
    opacity: 0.6;
    cursor:pointer;
}

#githubIcon, #behanceIcon, #twitterIcon, #linkedInText {
    transition: all .4s ease-in;
    &:hover {
      opacity: 1;
    }
}

#behanceIcon {
    margin-left: 0.8rem;
    height: 1em;
    vertical-align: -0.15em;
    opacity: 0.6;
    cursor:pointer;
}

#twitterIcon {
  opacity: 0.6;
  vertical-align: -0.34em;
  height: 1.4em;
  margin-left: 0.6rem;
  cursor:pointer;
}


/* next breakpoints in specific classes later */
@include tablet {
}

@include phone {
  

  .email, .resume, #personalMediaIcons, #keepCheckingBack {
    text-align: left;
  }

  .email {
    margin-top: 5rem;
    margin-bottom: 0.5rem;
  }

  .resume {
    margin-bottom: 1rem;
  }

  #personalMediaIcons {
    margin-bottom: 2rem;
  }

  .myWorkDescr {
    margin-top: 2rem;
  }
}
