@import '../Assets/base';

#personalMediaIcons {
  text-align: center;
}

*::selection {
  background-color: rgba(255,255,255,0.1);
}

body {
  background-color: black;
}

.temp-home {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  font-size: 26px;
  font-weight: 400;
}

header {
  font-family: 'Shadows Into Light Two', cursive;
  margin: auto;
  color: rgba(255,255,255,0.5);
}


#personalMediaIcons { 
    margin: auto;
    margin-top: 4rem;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

#personalMediaIcons > svg {
  opacity: 1;
  height: 30px;
  transition: all .3s ease-in;
  cursor: pointer;
  fill: rgba(255,255,255,0.5);
}

#personalMediaIcons > svg:hover {
  opacity: 0.6;
}

#personalMediaIcons {
  > svg:nth-child(4) {
    height: 40px;
  }
  
}
