@import '../Assets/base';


.underline:after {
  background: $yellow;
}

.strike:before {
  background-color: $yellow;
}

.iso-media {
  width: 63rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include tablet {width: 100%;}
}

.iso-media-portrait {
  width: 45rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 800px) {width: 100%;}
}

.iso-media-small {
  width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include phone {width: 100%;}
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  text-decoration: underline;
  color: #0433B7;
  cursor: pointer;
}