$yellow: #FFF9A9;
$purple: #E1DFFF;
$light-blue: #DDEEF4;
$blue: #deecff;
$pink: #FAEAFE;
$yellow: #FFF9A9;
$green: #baf2de;
$hover-blue: #1565C0;

$projects-list: 
  $yellow
  $purple
  $light-blue
  $blue
  $pink
  $green
  $yellow;

@mixin tablet {
  @media only screen and (max-width: 1120px) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: 700px) {
    @content;
  }
}

