@import 'base';

em {
  font-weight: 300;
  font-style: italic;
}


/* margin-tops */
.m-1 { margin-top: 1rem; }
.m-2 { margin-top: 2rem; }
.m-3 { margin-top: 3rem; }
.m-4 { margin-top: 4rem; }
.m-5 { margin-top: 5rem; }
.m-6 { margin-top: 6rem; }
.m-7 { margin-top: 7rem; }
.m-8 { margin-top: 8rem; }
.m-9 { margin-top: 9rem; }
.m-10 { margin-top: 10rem; }
.m-11 { margin-top: 11rem; }


.fullNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 0;
  width: 100vw;
  overflow: scroll;
  background-color: white;
  font-weight: 300;
  > * {
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    @include phone {
      font-size: 1.8rem;
      margin-top: 1.5rem;
    }
    &:first-child {
      margin-top: 8rem;
    }
    &:last-child {
      margin-bottom: 6rem;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-family: 'Futura PT';
    transition: color 1s;
  }
  a:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.fullNavShown {
  height: 100vh;
  a {
    color: black;
  }
}



.pageHeading {
  padding: 8rem 0 6rem 0;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 6rem;
  font-family: 'Futura PT';
  font-weight: 400;
  background: rgba(0,0,0,0.05);
  //color: rgba(255,255,255,0.3);
  //background: black;
}

.bulletPoint {
  height: 0.4rem;
  width: 0.4rem;
  background-color: rgba(0,0,0,0.7);
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

body {
  font-family: 'Neutraface 2 Text';
  font-size: 125%;
  text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
  -moz-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  margin: 0 0 0 0;
}


.centerText {
  text-align: center;
}


*::selection {
  background-color: rgba(0,0,0,0.08);
}

* {
  box-sizing: border-box;
}


.headingsFutura {
  font-family: 'Futura PT';
}

#abizarNav {
  position: fixed;
  padding: 0.3em 0.9em;
  @include phone {padding: 0.3em 0.3rem 0.3em 0.7em;};
  font-size: 1.5em;
  font-weight: 300;
  top: 0;
  color: black;
  > * {
    cursor: pointer;
  }
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  button {
    background: none;
    background-color: none;
    border: none;
    outline: none;
    
  }
}

#abizarNav > div:hover {
  color: #7A7A7A;
}

p {
  font-family: 'Neutraface 2 Text';
  font-weight: 200;
  line-height: 1.7;
  margin: 0;
  font-size: 100%;
}

h1 {
  font-size: 1.7em;
  font-family: 'Futura PT';
  font-weight: 400;
  color: #4C4C4C; /*rgba(0,0,0,0.7); */
  margin: 0 0 0 0;
  line-height: 1.5;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
  text-transform: lowercase;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Futura PT';
  margin: 0 0 0 0;
}

.descrProjectLeft {
  box-sizing: border-box;
  padding-right: 4rem;
  float: left;
  width: 40%;
  text-align: right;
  @include phone {
    padding-right: 0;
  }
}

.descrProjectRight {
  box-sizing: border-box;
  float: right;
  width: 60%;
  @include phone {
    margin-top: 1.5rem;
  }
}

@include phone {
  .descrProjectLeft, .descrProjectRight {
    float: none;
    width: 100%;
    text-align: left;
    padding-left: 0;
  }
}

.descrRowContainer {
  display: flex;
  margin-top: 3rem;
  @include phone {
    flex-direction: column;
  }
}


.maxWidthContainer {
  max-width: 1020px;
  margin: auto;
  @include tablet {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  @include phone {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1300px) {
  #abizarNav {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    color: black;
    margin: 0;
  }  
}




.halfSizeMediaContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.halfSizeMedia {
  width: 45%;
  flex-grow: 0;
}

@include phone {
  .halfSizeMediaContainer {
    flex-direction: column;
    div {
      width: 100%;
    }
    .halfSizeMedia {
      width: 100%;
      margin: auto;
      &:last-child {
        margin-top: 6rem;
      }
    }
  }
}

.separationLine:before {
  content: '';
  width: 100vw;
  position: absolute;
  left: 0;
  border-top: 1px solid rgba(0,0,0,.3);
  margin-top: -5rem;
}


footer {
  margin-top: 8rem;
  height: 8rem;
  width: 100%;
  background-color: black;
  background-image: url("footer.png");
  background-position: left top;
  background-size: auto 100%;
  border-top: 1px solid rgba(0,0,0,.3);
  text-align: center;
  padding: 2rem 1rem;
  font-weight: 300;
  color: rgba(255,255,255,.7);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  padding: 0 2rem;
}


/* hamburgers from https://jonsuh.com/hamburgers/ */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.4; }
  .hamburger.is-active:hover {
    opacity: 0.4; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Emphatic
   */
   .hamburger--emphatic {
    overflow: hidden; }
    .hamburger--emphatic .hamburger-inner {
      transition: background-color 0.125s 0.175s ease-in; }
      .hamburger--emphatic .hamburger-inner::before {
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
      .hamburger--emphatic .hamburger-inner::after {
        top: 10px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
    .hamburger--emphatic.is-active .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important; }
      .hamburger--emphatic.is-active .hamburger-inner::before {
        left: -80px;
        top: -80px;
        transform: translate3d(80px, 80px, 0) rotate(45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .hamburger--emphatic.is-active .hamburger-inner::after {
        right: -80px;
        top: -80px;
        transform: translate3d(-80px, 80px, 0) rotate(-45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  
  /*
     * Emphatic Reverse
     */
  .hamburger--emphatic-r {
    overflow: hidden; }
    .hamburger--emphatic-r .hamburger-inner {
      transition: background-color 0.125s 0.175s ease-in; }
      .hamburger--emphatic-r .hamburger-inner::before {
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
      .hamburger--emphatic-r .hamburger-inner::after {
        top: 10px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r.is-active .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important; }
      .hamburger--emphatic-r.is-active .hamburger-inner::before {
        left: -80px;
        top: 80px;
        transform: translate3d(80px, -80px, 0) rotate(-45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .hamburger--emphatic-r.is-active .hamburger-inner::after {
        right: -80px;
        top: 80px;
        transform: translate3d(-80px, -80px, 0) rotate(45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  



/*
FUTURA PT
*/

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBold.otf') format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBook.otf') format('opentype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTBookOblique.otf') format('opentype');
    font-weight: 300;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTDemi.otf') format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTDemiOblique.otf') format('opentype');
    font-weight: 500;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTExtraBold.otf') format('opentype');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTExtraBoldOblique.otf') format('opentype');
    font-weight: 800;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTHeavy.otf') format('opentype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTHeavyOblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTLight.otf') format('opentype');
    font-weight: 200;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTLightOblique.otf') format('opentype');
    font-weight: 200;
    font-style: oblique;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTMedium.otf') format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPTMediumOblique.otf') format('opentype');
    font-weight: 400;
    font-style: oblique;
  }

/*
    NEUTRAFACE 2 TEXT
*/

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-LightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Book.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-BookItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Demi.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-DemiItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('fonts/Neutraface2Text-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* ROBOTO */

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


/* IOSEVKA */

@font-face {
  font-family: 'Iosevka';
  src: url('fonts/iosevka-extralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}