
.maxWidthContainer {
  max-width: 1020px;
  margin: auto;
}

@media only screen and (max-width: 1300px) {
  #abizarNav {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    color: black;
  }  
}

@media only screen and (max-width: 1120px) {
  .maxWidthContainer {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #abizarCoverPhoto {
    width: calc(100% + 6rem);
    margin-left: -3rem;
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .maxWidthContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #abizarCoverPhoto {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  .email, .resume, #personalMediaIcons, #keepCheckingBack {
    text-align: left;
  }

  .email {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  .resume {
    margin-bottom: 1rem;
  }

  #personalMediaIcons {
    margin-bottom: 5rem;
  }

  #myWorkDescr1, #myWorkDescr2, #myWorkDescr3 {
    margin-top: 2rem;
  }

  /* general */

  .descrRowContainer {
    flex-direction: column;
  }
  .descrProjectLeft, .descrProjectRight {
    float: none;
    width: 100%;
    text-align: left;
    padding-left: 0;
  }

  /* mynd */
  #myndTitle {
    font-size: 600%;
    margin-left: auto;
    margin-right: auto;
  }

  #processImageMynd {
    float: none;
    margin: 1rem 0;
  }

  #textNearProcessMynd {
    padding-left: 0;
  }

}

