

body {
    color: #BABABA;
    background: black;
    margin-bottom: 7%;
}

*::selection {
  background-color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,1);
}

#decorateChairContainer {
    width: 100%;
    overflow:hidden;
    display:block;
}

#decorateChair {
    width: 100%;
    margin-bottom: 5%;
    margin-top: -8%;
}


.yellowText {
    color: #F8ED3A;
}

#weDesignedAVRExperience {
    border-left: 0;
    padding-bottom: 3%;
}

.descrRowContainer {
    margin: 0 0 0 0;
    box-sizing: border-box;
}

/* added here instead of in descrRowContainer so that border of descrProjectRight stretches across all elements instead of being spaced out */
.descrProjectLeft, .descrProjectRight {
    padding-bottom: 2%;
}

.descrProjectLeft {
    padding-top: 0.1%;
    text-align: right;
}

.descrProjectRight {
    border-left: 1px solid #696969;
    padding-left: 3%;
    box-sizing: border-box;
}

#therapyOSContainer {
}

#therapyOSLogo {
    padding-right: 0.5em;
    width: 7em;
    display: inline-block;
    vertical-align: middle;
}

#therapyOSDescr {
    display: inline-block;
    vertical-align: middle;
}

.lastDescrVR {
    padding-bottom: 0;
}

#ourUserContainerVR {
    margin-top: 5%;
    margin-left: 25%;
}

#ourUserTextContainerVR {
    padding-top: 3%;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 55%;   
    vertical-align: middle;
}

#becauseAutismHasSuch {
    margin-bottom: 3%;
}

.bulletPointAndStatementVR {
    margin-top: 1%;
}

.bulletPointContainerVR {
    display: inline-block;
    padding-top: 0.5%;
}

.bulletPointVR {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    background-color: #BABABA;
    transform: rotate(45deg);
}

.statementVR {
    padding-left: 0.9em;
    display: inline;
    padding-top: 0.5%;
}

#ethanPic {
    padding-top: 3%;
    padding-right: 1em;
    position: relative;
    z-index: 0;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

#processContainer {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

#processDiagramVR {
    margin-right: 20%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}   


#processWords {
    margin-left: 0.3%;
    margin-bottom: 1.5em;
    display: flex;
    word-wrap: break-word;
}

.eachProcessWord {
    width: 18%;
    margin-right: 1.5%;
    display: block;
    line-height: 100%;
    font-size: 0.8em;
}


#ethanVRVideo {
    padding-left: 0.2%;
    width: 95%;
    margin-top: 1em;
}

#ourPrototypeContainerVR {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
}

#ourPrototypeHeadingVR {
    margin-bottom: 0.5em;
}

#ourPrototypeDiagramContainer {
    margin-left: -1.5%;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#ourPrototypeDiagram {
    padding-left: 1.4%;
    width: 70.5%;
    
}

.ourPrototypeBlock {
    width: 27.5%;
    margin-right: 6.8%;
    display: inline-block;
    vertical-align: top;
}

.ourPrototypeBlockHeading {
    font-weight: 300;
    margin-bottom: 0.3em;
}

.ourPrototypeBlockImage {
    width: 70%;
    margin-top: 0.7em;
}

#lastPrototypeBlock {
    margin-right: 0;
}

.environmentHeadings {
    margin-top: -2%;
    width: 100%;
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 0.5em;
    word-wrap: break-word;
}

.environmentQuestions {
   padding-bottom: 0.1em;
   
}

#firstEnvQ {

}

#secondEnvQ {
    padding-top: 1em;
}

.environmentContainer {
    margin-top: 5%;
}

.envLeft, .envRight {
    padding-top: 0;
    padding-bottom: 0;
}

.envLeft {
    padding-left: 0;
}

.underEnvHeadingText {
    padding-left: 50%;
}


.fullSizeVideoBlockVR {
    padding-top: 3%;
    width: 60%;
    display: block;
    margin: auto;
}

.fullSizeVideo {
    width: 100%;
}

.captionOfVideo {
    text-align: center;
    padding-top: 0.5em;
    color: #9A9A9A;
    font-size: 0.95em;
}

.halfSizeMediaContainer {
    padding-top: 3%;
    vertical-align: middle;
}

.halfSizeMediaBlockLeft {
    margin-left: 20%;
    display: inline-block;
    width: 27%;
    vertical-align: top;
}

.halfSizeMediaBlockRight {
    margin-left: 4%;
    display: inline-block;
    width: 28.5%;
    vertical-align: top;
}

#finalPresentationBlock {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
}
