@import '../Assets/base';

@mixin vr-tablet {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}

body {
    color: #BABABA;
    background: #191919; /* rgba(0,0,0,0.9) */
    margin-bottom: 7%;
}

#abizarNav {
  color: rgba(255,255,255,0.5);
  background-color: #191919;
  &:hover {
    color: white;
  }
  @media only screen and (max-width: 1300px) {
    background-color: black;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}

video, img {
  border: 1px solid rgba(255,255,255,0.4);
  margin: 0;
}

*::-moz-selection {
  background-color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,1);
}

*::selection {
  background-color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,1);
}

h2 {
  color: rgba(255,255,255,0.8);
}

#decorateChairContainer {
    width: 100%;
    overflow:hidden;
    display:block;
}

#decorateChair {
    width: 100%;
    margin-bottom: 8rem;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: calc(-30% + 10rem);
    @include tablet {
      margin-bottom: 4rem;
    }
}

h2 {
  margin-bottom: 1rem;
  @include phone {
    margin-bottom: 0;
  }
}


.yellowText {
    color: #F8ED3A;
}

#weDesignedAVRExperience {
    border-left: 0;
    padding-bottom: 4rem;
    color: #F2F2F2;
    @include phone {
      border-bottom: 1px solid rgba(255,255,255,0.4);
      padding-bottom: 2rem;
      margin-bottom: 3rem;
      margin-top: 2.5rem;
    }
}

.descrRowContainer {
    margin: 0 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}



.descrProjectLeft {
    padding-top: 0.2rem;
    text-align: right;
    padding-right: 3rem;
}

.descrProjectRight {
    border-left: 1px solid #696969;
    padding-left: 3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include phone {
      margin-bottom: 3rem;
      margin-top: 1rem;
    }
}

/* added here instead of in descrRowContainer so that border of descrProjectRight stretches across all elements instead of being spaced out */
.descrProjectLeft, .descrProjectRight {
  padding-bottom: 3rem;
  @include phone {
    text-align: left;
    border: none;
    padding-left: 0;
    padding-bottom: 0;
  }
}

#therapyOSContainer {
}

#therapyOSLogo {
    padding-right: 0.5em;
    width: 7em;
    display: inline-block;
    vertical-align: middle;
    border: none;
}

#therapyOSDescr {
    display: inline-block;
    vertical-align: middle;
}

.lastDescrVR {
    padding-bottom: 0;
}

#ourUserContainerVR {
    margin-top: 8rem;
    margin-left: 2rem;
    @include phone {
      margin-left: 0;
      margin-top: 4rem;
    }
}

#ourUserTextContainerVR {
    padding-top: 3%;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(100% - 18rem - 1em);   
    vertical-align: middle;
    @include phone {
      display: block;
      width: 100%;
    }
}

#becauseAutismHasSuch {
    margin-bottom: 3%;
}

.bulletPointAndStatementVR {
    margin-top: 1rem;
}

.bulletPointContainerVR {
    display: inline-block;
    padding-top: 0.5%;
}

.bulletPointVR {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    background-color: #BABABA;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.statementVR {
    padding-left: 0.9em;
    display: inline;
    padding-top: 0.5%;
}

#ethanPic {
    margin-top: 3%;
    margin-right: 2em;
    position: relative;
    z-index: 0;
    width: 16rem;
    display: inline-block;
    vertical-align: top;
    @include phone {
      width: 60%;
      display: block;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
}

#processContainer {
    margin-top: 8rem;
    margin-left: 2rem;
    @include phone {
      margin-left: 0;
    }
}

#processDiagramVR {
    margin-right: 20%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    border: none;
}   


#processWords {
    margin-left: 0.3%;
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    word-wrap: break-word;
}

#processDiagramVR, #processWords {
  @include phone {
    display: none;
  }
}

.eachProcessWord {
    width: 18%;
    margin-right: 1.5%;
    display: block;
    line-height: 100%;
    font-size: 0.8em;
}


#ethanVRVideo {
    padding-left: 0.2%;
    width: 95%;
    margin-top: 2em;
}

#ourPrototypeContainerVR {
    display: block;
    margin-left: 2rem;
    margin-top: 10rem;
    margin-bottom: 3%;
}

#ourPrototypeHeadingVR {
}

#ourPrototypeDiagramContainer {
    margin-left: -1.3rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#ourPrototypeDiagram {
    padding-left: 1rem;
    width: 70.5%;
    border: none;
} 

.ourPrototypeBlock {
    width: 27.5%;
    margin-right: 6.8%;
    display: inline-block;
    vertical-align: top;
}

.ourPrototypeBlockHeading {
    font-weight: 300;
    margin-bottom: 0.3em;
}

.ourPrototypeBlockImage {
    width: 70%;
    margin-top: 0.7em;
}

#lastPrototypeBlock {
    margin-right: 0;
}

.environmentHeadings {
    margin-top: -2%;
    width: 100%;
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 0.5em;
    word-wrap: break-word;
    margin-bottom: 0;
}

.environmentQuestions {
   padding-bottom: 0.3em;
   color: rgba(255,255,255,0.9);
}

#firstEnvQ {

}

#secondEnvQ {
    padding-top: 1em;
}

.environmentContainer {
    margin-top: 10rem;
    @include vr-tablet {
      flex-direction: column;
    }
}

.envLeft, .envRight {
    padding-top: 0;
    padding-bottom: 0;
    @include vr-tablet {
      width: 90%;
      text-align: left;
      border: none;
      margin: auto;
    }
}

.envLeft {
    padding-left: 0;
}

.envRight {
  @include vr-tablet {
    padding-left: 0;
  }
}

.underEnvHeadingText {
  padding-left: 3rem;
  @include vr-tablet {
    padding-left: 0;
    padding-bottom: 1.5em;
  }
}


.fullSizeVideoBlockVR {
    padding-top: 6rem;
    width: 90%;
    display: block;
    margin: auto;
}

.fullSizeVideo {
    width: 100%;
}

.captionOfVideo {
    text-align: center;
    padding-top: 0.5em;
    color: #9A9A9A;
    font-size: 0.95em;
}

.halfSizeMediaContainer {
    padding-top: 6rem;
    vertical-align: middle;
}

.halfSizeMediaBlockLeft {
    margin-left: 10%;
    display: inline-block;
    width: 37%;
    vertical-align: top;
}

.halfSizeMediaBlockRight {
    margin-left: 4%;
    display: inline-block;
    width: 38.5%;
    vertical-align: top;
}

#finalPresentationBlock {
    width: 90%;
    margin: auto;
    margin-top: 10rem;
}

#VRIntroContainer {
  @include phone {
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
}