
body {
    color: #081B50;
}

p {

}


#myndTitle {
    font-family: 'Futura PT';
    font-size: 10em;
    text-align: center;
    margin-top: 13%;
    font-weight: 400;
}


#slider {
    margin: 0 auto 0 auto;
    transition-timing-function: frames(100);
}

.blueUnderline {
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-image: linear-gradient(to right, #DDEEF4 100%, white 0);;
  background-position: 0 0.8em;
  background-repeat: repeat-x;
}

.bulletPoint {
  height: 1em;
  width: 1em;
  background-color: #DDEEF4;
  border-radius: 50%;
}

#robotoFont {
  display: block;
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: 200;
}

.colorBlock {
  display: inline-block;
}

.colorDot {

}


#leftColorDot {

  height: 3em;
  width: 3em;
  background-color: #DDEEF4;
  border-radius: 50%;
}

#rightColorDot {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.5em;
  height: 3em;
  width: 3em;
  background-color: #DDEEF4;
  border-radius: 50%;
}
