@import '../Assets/base';

body {
  color: #081B50;
  font-family: 'Neutraface 2 Text';
  font-weight: 200;
  margin-bottom: 5%;
}

.rslider {
  z-index:1;
  margin: auto;
  margin-bottom: 10rem;
}

.rs-range-color {
  background-color: white;
  
}

.rs-path-color  {
  background-color: hsl(210, 100%, 57%);
}


#myndTitle {
  display: table;
  margin: auto;
  position: relative;
  font-family: 'Futura PT';
  font-size: 10em;
  text-align: center;
  margin-top: 10rem;
  font-weight: 400;
  margin-bottom: 0;
  z-index: 2;
}


.blueUnderline {
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #DDEEF4), color-stop(0, white));
  background-image: linear-gradient(to right, #DDEEF4 100%, white 0);;
  background-position: 0 0.8em;
  background-repeat: repeat-x;
}

#interactivePrototype {
  margin-top: 8rem;
  text-align: center;
  font-size: 1.1em;
}


#iPhoneText {
  margin: 1rem 0;
  font-size: 1.1em;
  font: 'Neutraface 2 Text';
  font-weight: 200;
  font-style: italic;
}


#iphoneContainer {
  margin: 1rem auto 8rem auto; 
  position:relative; 
  width: 18em;
  height: 35.617em;
}

#colorContainer {
  margin-top: 8rem;
}

#typeContainer {
  margin-top: 4rem;
}

#iphone {
  position:absolute; 
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
  z-index: 2;
}

#iframeContainerMynd {
  position: absolute;
  top: 4.8em;
  left: 1.4em;
  width: 14.9em; 
  height: 26.5em;
  z-index: 4;
}


#iframeMynd {
  position:absolute; 
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
  z-index: 3;
}

#processContainer {
  margin-bottom: 4%;
}

#processTitle {
  padding-top: 1%;
}

#processImageMynd {
  display: block;
  float: left;
  width: 10em;
}

#textNearProcessMynd {
  vertical-align: top;
  overflow-x: hidden;
  padding-left: 0.8em;
}

#containerProcessMynd {
  -ms-flex-line-pack: top;
      align-content: top;
}

#processVideo {
  margin-top: 1em;
  margin-left: 0.2em;
  display: block;
  width: 80%;
  border: 1px solid black;
}


#colorTitle {
  padding-top: 0.1%;
}

.colorBlock {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
}

#leftColorDot {
  height: 3em;
  width: 3em;
  background-color: #081B50;
  border-radius: 50%;
  margin: auto;
}

#rightColorDot {
  display: inline-block;
  height: 3em;
  width: 3em;
  background-color: #DDEEF4;
  border-radius: 50%;
  margin: auto;
}

.colorDotCode {
  font-family: 'Iosevka';
  font-weight: 100;
  font-size: 0.8em;
  margin: 0.8em auto 0 auto;
}


#rightColorBlock {
  margin-left: 2em;
}


#typographyHeadingMynd {
  padding-top: 0.4em;
  padding-left: 0;
}

#robotoFont {
  display: block;
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: 200;
}

.videoAndDescrMyndContainer {
  margin-top: 8rem;
}

#videoMyndUI1 {
  display: block;
  width: 14em;
  float: right;
}

.textRightOfVideo {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bulletPointContainer {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bpAndHeading {
  padding-top: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bulletPoint {
  height: 0.8em;
  width: 0.8em;
  background-color: #DDEEF4;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.headingInBulletPointContainer {
  width: 4em;
  padding-left: 0.5em;
}

.textInBulletPointContainer {
  padding-left: 2em;
}


/* mynd */
@include phone {
  #myndTitle {
    font-size: 600%;
    margin-left: auto;
    margin-right: auto;
  }

  #processImageMynd {
    float: none;
    margin: 1rem 0;
  }

  #textNearProcessMynd {
    padding-left: 0;
  }
}
