@import '../Assets/base';

.underline {
  margin-left: -0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, $purple), color-stop(0, white));
  background-image: linear-gradient(to right, $purple 100%, white 0);;
  background-position: 0 0.85em;
  background-repeat: repeat-x;
}

a {
  font-weight: 300;
}

.clickButton {
  border: 1px solid black;
  color: black;
  height: 2.7rem;
  width: 12rem;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
  border-radius: 5rem;
  transition: all 0.3s;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: $purple;
  }
  &:focus {
    outline: 1px solid white;
  }
}