@import '../Assets/base.scss';

.underline:after {
  background: $green;
} 

.strike:before {
  background: $green;
}

#finalDelivHeader {
  margin-bottom: 1rem;
  @include tablet {
    text-align: left;
  }
}

.intuitButtons {
  display: flex;
  justify-content: center;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.clickButton {
  border: 1px solid black;
  color: black;
  height: 2.7rem;
  width: 16rem;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1.5rem 0 1.5rem;
  border-radius: 5rem;
  transition: all 0.3s;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: $green;
  }
  &:focus {
    outline: 1px solid white;
  }
}

#conceptVid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  @include phone {
    width: 100%;
  }
}