@import '../Assets/base.scss';

.underline {
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, $pink), color-stop(0, white));
  background-image: linear-gradient(to right, $pink 100%, white 0);;
  background-position: 0 0.85em;
  background-repeat: repeat-x;
}

#finalDelivHeader {
  @include tablet {
    text-align: left;
  }
}